// 主题颜色
$primary-color: #409eff;
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$info-color: #909399;

// 布局
$header-height: 60px;
$sidebar-width: 200px;
$sidebar-collapsed-width: 64px;
